---
---

$base-font-family: 'Barlow', sans-serif;
$body-font-family: 'Barlow', sans-serif;
$code-font-family: "Source Code Pro", monospace;

$brand-color: rgb(41, 59, 39);

$container-width: 1600px;
$tablet-width: 600px;
$phone-width: 480px;

$header-thickness: 70px;

$icon-transition-time: 0.5s;
$envelope-color: #f39c12;
$twitter-color: #00aced;
$instagram-color: #375989;
$github-color: #343434;
$linkedin-color: #0073a4;
$facebook-color: #3d5b99;
$google-color: #e64a41;
$pinterest-color: #bd081c;
$medium-color: #00AB6C;
$codepen-color: black;
$rss-color: #ff6600;

@import "-sections-dir";
